
<style>
    .tc1 {
        width: 23%;
        float: left;
        margin: 0 1%;
    }

    .yg-round .yg-round-white {
        background: #fff;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 15px;
        top: 15px;
        font-size: 20px;
    }

    .yg-round {
        width: 130px;
        height: 130px;
        background: #95cac6;
        text-align: center;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        color: #95cac6;
        margin-bottom: 10px;
    }

    .tc1 .yg-round .yg-round-white {
        line-height: 100px;
    }
</style>
<div ms-controller="INDEX" style="width:100%">
    <div class="clearfix oh padding20" style="margin-top: -30px;">
        <img src = "../../Web/images/logo.png" style="height: 40px; margin-top: 10px; margin-right: 10px" class="pull-left pic60">
        <div class="xt-company" style="padding-top: -10px;">
            <h4 class="ft16 mt10">
                文档中心管理后台
               
            </h4>
            <p class=" ft14 c999 mt5">
                <span class="mr10">版本：1.0</span>
            </p>
        </div>
    </div>
  

    <div class="pt20 oh">

        


        <div class="page-title ft16 pl20" style="margin-top: 5px;">
            <h4 class="title">系统信息</h4>
        </div>
        <div class="pl20 pr20 pb20 ft16">
            <div class="col-xs-4 tc">
                <div class="yg-round">
                    <div class="yg-round yg-round-white">
                        <p class="ft14 mt20 c999">空间数量</p>
                        <p class="sl">{{TotalSpace}}</p>
                    </div>
                </div>
           
            </div>
            <div class="col-xs-4 tc">
                <div class="yg-round red">
                    <div class="yg-round yg-round-white">
                        <p class="ft14 mt20 c999">文件数量</p>
                        <p class="sl">{{FileSize}}</p>
                    </div>
                </div>

            </div>
            <div class="col-xs-4 tc">
                <div class="yg-round blue">
                    <div class="yg-round yg-round-white">
                        <p class="ft14 mt20 c999">已用容量</p>
                        <p class="sl">{{ComFunJS.converfilesize(fileUnit)}}</p>
                    </div>
                </div>
            </div>


        </div>
         <div class="page-title ft16 pl20" style="margin-top: 5px;display:none" >
            <h4 class="title">系统状态</h4>
        </div>
        <div class="pl20 pr20  ft16  " style="display:none" >

            <div class="col-xs-5 tc mt20">
              <div id="chat" style="height:320px;"></div>
            </div>
            <div class="col-xs-2 tc mt20">
               
            </div>
             <div class="col-xs-5 tc mt20">
              <div id="chat1" style="height:320px;"></div>
            </div>
        </div>




    </div>
  
</div>
<script>
    var tempindex = avalon.define({
        $id: "INDEX",
        TotalSpace: 0,
        FileSize: 0,
        fileUnit: 0,
    
        InitWigetData: function () {
                $.getJSON('/adminapi/getsydata', {}, function (resultData) {
                    if (resultData.ErrorMsg == "") {
                        tempindex.TotalSpace = resultData.Result;
                        tempindex.FileSize = resultData.Result1;
                        tempindex.fileUnit = resultData.Result2;
                    }
                })
        }
    }) //# sourceURL=XTINDEX.js;
</script>
